.history-table-item{
    &.low {
        height: 3rem;
        line-height: 3rem;
    }
    &.medium {
        height: 4rem;
        line-height: 4rem;
    }
    &.high {
        height: 5rem;
        line-height: 5rem;
    }
    border-bottom: 1px solid #ccc;
    text-align: center;
    .t_num{
        width: 12%;
    }
    .time{
        width: 20%;
    }
    .course{
        width: 12%;
    }
    .topping{
        width: 12%;
    }
    .number{
        width: 5%;
    }
    .status{
        width: 8%;
    }
}